@import "tailwindcss";

:root {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --font-serif: 'Georgia', serif;
  --font-mono: 'SFMono-Regular', monospace;
}

/* Override Tailwind's base styles */
@layer base {
  html {
    font-family: var(--font-sans);
  }
  
  /* Optional: Override specific elements */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif); /* Different font for headings */
  }
  
  code, pre, kbd, samp {
    font-family: var(--font-mono);
  }
}

.input-primary{
    @apply 
    w-full  my-1 px-4 py-3 rounded-xl    
    border border-gray-300 
    focus:outline-none focus:ring-1 focus:ring-blue-300 focus:border-blue-500 focus:ring-offset-0
    text-gray-900 placeholder-gray-500 
    text-base leading-6 transition-all duration-200 ease-in-out
    hover:border-blue-400
    disabled:opacity-50 disabled:cursor-not-allowed disabled:bg-gray-100
    invalid:border-red-500 invalid:focus:ring-red-500 invalid:focus:border-red-500 aria-invalid:border-red-600
}

.btn-primary {
  @apply mt-8 mx-3 bg-black text-white rounded-2xl p-2 hover:bg-slate-600
}

label {
    @apply text-[15px] font-medium
  }